.rdp {
  --rdp-accent-color: #14b8a6;
  --rdp-background-color: white;
  --rdp-accent-color-dark: #0f766e;
  font-family: "Inter", sans-serif;
  
}

.rdp-month {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.rdp-day_disabled {
  color: #9ca3af !important;
  background-color: #b0b4bb;
  text-decoration: line-through;
  pointer-events: none;
}

.rdp-nav {
  justify-content: center !important;
  margin-bottom: 1rem;
}

.rdp-chevron {
  width: 32px !important;
  height: 32px !important;
}

.rdp-nav svg polygon {
  fill: var(--secondary-teal-light) !important;
  padding: 8px;
}

.rdp-nav button:hover svg polygon {
  fill: var(--secondary-teal-dark) !important;
}

.rdp-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rdp-range_start .rdp-day_button {
  background-color: var(--secondary-teal) !important;
}

.rdp-range_end .rdp-day_button {
  background-color: var(--secondary-teal) !important;
}

.rdp-range_middle .rdp-day_button {
  color: var(--neutral-black) !important;
}

.rdp-day:hover {
  background-color: #2f7f881e !important;
}

.button-descret:hover {
  background-color: var(--neutral-grey-light);
}
