/* calendar.css */
.rdp {
  --rdp-accent-color: #14b8a6; /* Teal */
  --rdp-background-color: white;
  --rdp-accent-color-dark: #0f766e;
  --rdp-selected-color: white;
  --rdp-selected-bg-color: #14b8a6;
  --rdp-today-color: #14b8a6;
  font-family: "Inter", sans-serif;
}

.rdp-month {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.rdp-day {
  transition: all 0.2s ease;
  border-radius: 8px;
}

.rdp-day:hover {
  background-color: #d1fae5;
}

.rdp-day_selected,
.rdp-day_selected:focus,
.rdp-day_selected:hover {
  background-color: #14b8a6 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 50%;
}

.rdp-day_disabled {
  color: #9ca3af !important;
  background-color: #b0b4bb;
  text-decoration: line-through;
  pointer-events: none;
}

.rdp-caption {
  font-weight: 600;
  color: #111827;
}

.rdp-head_cell {
  color: #6b7280;
  font-size: 0.875rem;
}

.rdp-nav {
  justify-content: center !important;
  margin-bottom: 1rem;
}

.rdp-nav_button {
  color: #14b8a6 !important;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.rdp-caption_label {
  font-weight: bold;
  font-size: 1rem;
}

.rdp-day_today {
  color: #14b8a6 !important;
  font-weight: bold;
}
